body {
	/* Reserve space for the fixed header */
	padding-top: 70px;
}

h3 {
	/* Offset fixed header for anchor links */
	padding-top: 60px;
	/* Simulate the default h3 margin-top 20px */
	margin-top: -40px;
}

h4 {
	/* Offset fixed header for anchor links */
	padding-top: 60px;
	/* Simulate bootstrap h3 margin-top 10px */
	margin-top: -50px;
}

.js .only-no-js {
	display: none;
}

.no-js .only-js {
	display: none;
}

.nagf-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	background: #f9f9f9;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5
}

.nagf-footer-links {
	margin-top: 20px;
	padding-left: 0;
	color: #999
}

.nagf-footer-links li {
	display: inline;
	padding: 0 2px
}

.nagf-footer-links li:first-child {
	padding-left: 0
}

@media (min-width: 768px) {
	.nagf-footer p {
		margin-bottom:0
	}
}
